@import '../../scss/variables.scss';

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: $container-max-width;
  background-color: #fff;

  input[type='text'] {
    padding: 15px 0;
    width: 100%;
    border: none;
  }

  input[type='text']:focus {
    outline: none;
  }
}

header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  margin-bottom: 10px;
  top: 0px;
  z-index: 99;
}

.header {
  position: relative;
  top: 60px;

  &-top-line {
    min-height: 25px;
    background-color: $color-primary-dark;
  }

  &-line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-color: $color-primary-light;
  }

  &-bootom-line {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-size: 25px;
  }

  .menu-button {
    position: absolute;
    left: 0;
  }
}

