.md-drawer {
  position: fixed;
  z-index: 100;
  background-color: #fff;

  ul li {
    padding: 15px 0;
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.md-overlay {
  z-index: 99;
}
