// app colors

$color-primary: #5e35b1;
$color-primary-dark: #6a0080;
$color-primary-light: #d05ce3;
$color-grey-dark: #E1E2E1;
$color-grey-light: #F5F5F6;

$text-color-primary: #1a1a1a;

//app dimensions
$small: 480px;
$large: 769px; 

$container-max-width: 1170px;